@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --PRIMARYFF: 'Poppins', sans-serif;
    --SECONDARYFF: 'Open Sans', sans-serif;
    --VIOLET: hsl(257, 40%, 49%);
    --SOFTMAGENTA: hsl(300, 69%, 71%);
}